<div class="container">
    <!--INICIO DEL CAROUSEL-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mla-home-desktop-slider-picture-d9f663ae-cf50-4a74-ad35-eb39c3400a6f.jpg"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mla-home-desktop-slider-picture-d9f663ae-cf50-4a74-ad35-eb39c3400a6f.jpg"
                    class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/exhibitors/MLA-proyecta-tu-futuro/04c2e880-ba16-11e9-97b6-3784482c4ce6-home-slider_desktop.jpg"
                    class="d-block w-100">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--FIN DEL CAROUSEL-->

    <div class="row" *ngIf="product.length>0">
        <div class="row">
            <div class="col" *ngFor="let p of product">
                <div class="card my-3" style="width: 18rem;">
                    <img src="https://image.shutterstock.com/image-photo/black-cap-isolated-on-white-600w-600222320.jpg"
                        class="card-img-top" *ngIf="!p.smallImage">
                    <img src="{{url+'/image/'+p.smallImage}}" class="card-img-top" *ngIf="p.smallImage">
                    <div class="card-body">
                        <h5 class="card-title">{{p.nombre}}</h5>
                        <p class="card-text">{{p.email}}</p>
                        <a [routerLink]="['/product',p._id]" routerLinkActive="router-link-active"
                            class="btn btn-success btn-block">Ver</a>
                        <a href="#" class="btn btn-primary btn-block">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="product.length==0">
        <div class="jumbotron">
            <h1 class="display-4">Hola, bienvenido a Easy Shop</h1>
            <p class="lead">Aun no has creado productos, asi que te invito a que crees algunos</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" [routerLink]="['/create']"  role="button">Crear productos</a>
        </div>
    </div>
</div>