.categorias{
    background-color: rgb(218, 218, 218);
    /* text-align: left; */
    margin-top: 5%;
    padding: 0.5%;
    font-size: 13px;
}
.categoria-lista{
    display: block;/*primero display para la lista*/
}
.categoria-item{
    display: inline-block;/*luego este para los elementos*/
    margin-right: 3px;
}

.imagen-container{
    border: 1px solid rgb(218, 218, 218);
    margin-top: 2%;
    margin-left: 17px;
}
.info-container{
    border: 1px solid rgb(218, 218, 218);
    margin-top: 2%;
}
.descripcion{
    margin-left: 2px;
    width: 100%;
    border: 1px solid rgb(218, 218, 218);
}
.titulo{
    margin-top: 10px;
    font-weight: bold;
}
.boton{
    margin-top: 20px;
    margin-bottom: 20px;
}
#cantidad{
    width: 60px;
}