<div class="container">
    <div class="categorias">
        <ul class="navbar-nav categoria-lista">
            <li class="nav-item categoria-item">categorias > </li>
            <li class="nav-item categoria-item">
                <a [routerLink]="['/category',product.category]" routerLinkActive="router-link-active"  class="nav-link">{{product.category}}</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg imagen-container">
            <img src="https://image.shutterstock.com/image-photo/black-cap-isolated-on-white-600w-600222320.jpg"
                *ngIf="!product.smallImage">
            <img src="{{url+'/image/'+product.smallImage}}" *ngIf="product.smallImage">
        </div>
        <div class="col-sm info-container">
            <h3 class="titulo">{{product.nombre}}</h3>
            <br>
            <h2 class="precio">$ {{product.precio}}</h2>
            <br>
            <p class="text-muted">Cantidad:
                <input type="number" name="cantidad" class="cantidad" id="cantidad"> (disponibles {{product.cantidad}})
            </p>
            <br>
            <button class="btn btn-primary btn-block boton" style="color: white;">Comprar</button>
            <a [routerLink]="['/edit',product._id]" routerLinkActive="router-link-active"  class="btn boton btn-block" style="background-color: rgb(119, 23, 230); color: white;"
                id="editar">Editar producto</a>
            <a class="btn btn-danger boton btn-block" style="color: white;" (click)="deleteProduct(product._id)">Eliminar producto</a>
        </div>
    </div>
    <div class="row" style="margin-left: .5px;">
        <div class="descripcion" style="margin-bottom: 10%;">
            <h3 class="titulo" style="margin-left: 10px;">Descripcion</h3>
            <p style="margin-left: 10px;">{{product.descript}}</p>
        </div>
    </div>
</div>