<h2 class="titulo" style="text-align: center;margin-top: 30px;">Actualizar producto</h2>
<form [formGroup]="formGroup" >
    <div class="card" style="width: 25rem; margin-left: 500px; margin-top: 30px;">
      <div class="card-body">
        <span class="alert alert-danger" role="alert" *ngIf="formGroup.controls['nombre'].touched && formGroup.controls['nombre'].errors?.required">El nombre es obligatorio</span>
        <input type="text" class="form-control my-2" name="nombre" maxlength="20" [(ngModel)]="product.nombre" minlength="4" formControlName="nombre" id="nombre" placeholder="Nombre" required>

        <span class="alert alert-danger" role="alert" *ngIf="formGroup.controls['descript'].touched && formGroup.controls['descript'].errors?.required">La descripcion es obligatoria</span>
        <textarea name="descript" id="descript" cols="30" class="form-control my-2" rows="3" [(ngModel)]="product.descript" formControlName="descript" placeholder="Descripcion" required></textarea>

        <span class="alert alert-danger" role="alert" *ngIf="formGroup.controls['category'].touched && formGroup.controls['category'].errors?.required">La categoria es obligatoria</span>
        <input type="text" class="form-control my-2" name="category" id="categoria" formControlName="category" [(ngModel)]="product.category" placeholder="Categoria" required>

        <span class="alert alert-danger" role="alert" *ngIf="formGroup.controls['precio'].touched && formGroup.controls['precio'].errors?.required">El precio es obligatorio</span>
        <input type="number" class="form-control my-2" name="precio" id="precio" formControlName="precio" [(ngModel)]="product.precio" placeholder="Precio" required>

        <span class="alert alert-danger" role="alert" *ngIf="formGroup.controls['cantidad'].touched && formGroup.controls['cantidad'].errors?.required">La cantidad es obligatoria</span>
        <input type="number" class="form-control my-2" name="cantidad" id="cantidad" formControlName="cantidad" [(ngModel)]="product.cantidad" placeholder="Cantidad" required>

        <input type="file" class="form-control my-2" name="smallImage" id="smallImage" formControlName="smallImage" [(ngModel)]="product.smallImage" placeholder="Imagen"
          (change)="fileChangeEvent($event)">
      </div>
      <div class="row" style="padding-bottom: 20px; margin-left: -5px; margin-right: -5px;">
        <div class="col-sm">
          <input type="submit" class="btn btn-primary btn-block" value="Crear" (click)='updateProduct()' [disabled]="!formGroup.valid">
        </div>
      </div>
    </div>
  </form>