.row{
    margin-top: 20px;
}
.sideBar{
    font-size: 15px;
    background-color: #ccc;
    margin-left: 20px;
    text-align: left;
    width: 50%;
}
.productos{
    margin-right: 150px;
}
.p-item{
    text-decoration: none;
    color: black;
}