<div class="row">
    <div class="col col-sm">
        <nav class="nav flex-column">
            <a [routerLink]="['/category',c.tipo]" routerLinkActive="active" class="btn btn-light sideBar"
                *ngFor="let c of categories">{{c.tipo}}</a>
        </nav>
    </div>
    <div class="col col-lg productos" *ngIf="products.length>0">
        <div class="card mb-3" style="max-width: 540px;" *ngFor="let p of products">
            <a [routerLink]="['/product',p._id]" class="p-item">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://image.shutterstock.com/image-photo/black-cap-isolated-on-white-600w-600222320.jpg"
                            class="card-img-top" *ngIf="!p.smallImage">
                        <img src="{{url+'/image/'+p.smallImage}}" *ngIf="p.smallImage" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 24px; font-weight: lighter;">{{p.nombre}}</h5>
                            <p class="card-text" style="font-size: 20px; font-weight: bold;">$ {{p.precio}}</p>
                            <br>
                            <p class="text-muted">{{p.descript}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col col-lg" *ngIf="products.length==0">
        <h1>No se encontraron productos para esta categoria :(</h1>
    </div>
</div>