<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <a class="navbar-brand text-center logo" style="padding-left: 550px;" href="#" >Easy Shop</a>
    </div>
    <div class="col"></div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-0" [formGroup]="formGroup">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search" name="search" formControlName="search" (keyup.enter)="searchProduct()">
  </form>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a [routerLink]="['/']" class="dropdown-item">Home</a>
        <a [routerLink]="['/create']" class="dropdown-item">Crear producto</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
